asgiref==3.11.1
celery==5.4.0
Django==5.2.11
psycopg2-binary==2.9.9
packaging==26.0
pillow==12.1.1
opencv-python-headless==4.10.0.84
pytesseract==0.3.13
paddleocr==2.8.1
paddlepaddle==2.6.2
redis==5.0.8
sqlparse==0.5.5
